/*
 * Authors: Kai Chang and Mary Becica
 * 
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #666; margin:0.7em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF995E; color:#fff; text-shadow: none; }
::selection { background:#FF995E; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF995E; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
  *  Authors: Kai Chang and Mary Becica
  */

body {
  background: #efefef;
  color: #333;
}
#container {
  overflow: auto;
  top:0;
  height:100%;
  width:100%;
}
p {
  margin: 12px 0;
  color: #333;
}
.left {
  float:left;
}
.right {
  float: right;
}
a.button {
  background: #222 !important;
  height: 18px;
  line-height: 18px;
  padding: 0px 10px 0px !important;
  margin: 4px 14px !important;
  display: block;
  -moz-border-radius: 14px !important;
  border-radius: 14px !important;
  font-weight: bold;
}
.green, .wave:hover .green {
  color: #070;
}
.yellow, .wave:hover .yellow {
  color: #c70;
}
.red, .wave:hover .red {
  color: #700;
}
header, footer {
  background: #333;
  position: fixed;
  width: 100%;
  z-index: 7;
  -moz-box-shadow: 0px 0px 8px #333;
  -webkit-box-shadow: 0px 0px 8px #333;
  box-shadow: 0px 0px 8px #333;
  min-width: 768px;
}
header p, footer p {
  color: #ccc;
}
header {
  top: -150px;
  height: 178px;
}
footer {
  bottom: -150px;
  padding-bottom: 150px;
  height: 28px;
}
 .inner {
  width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 768px;
} 
.outer {
  width: 100%;
  height: 150px;
  text-align: center;

  /* TEMPORARY */
  overflow: hidden;
}
footer .outer {
  margin-top:28px;
}
header ul, footer ul, .meta ul {
  list-style: none;
  margin:0;
}
header li, footer li, .meta li  {
  display: inline-block;
  float: left;
  height: 28px;
}
header li a, header li a:visited,
footer li a, footer li a:visited,  
.meta li a, .meta li a:visited  {
  font-weight: bold;
  color: #ccc;
  display: block;
  height: 18px;
  padding: 0px 6px;
  margin: 5px 5px;
  text-decoration: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
header li a:hover,
header li a.active {
  color:#6bf;
}
footer li a:hover,
footer li a.active {
  color: #000;
  background: #ccc;
}
input:focus {
  border: 2px solid #7F9B4B;
}
header input, footer input, .meta input {
  margin: 3px 2px;
  padding: 1px 12px;
  border: none;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
header input {
  width: 150px;
  height: 18px;
  background:#efefef;
}
header input[type="submit"] {
  display: none;
}
.meta input {
  color:#bbb;
  background:#4d4d4d;
  width:70px;
}
.meta input:hover {
  color:#333;
  background:#aaa;
}
.meta input:focus  {

}
header .inner p {
  height: 20px;
  padding: 5px 4px 1px 14px;
  margin: 0;
}
#main {
  margin: 28px 0px;
  height: 100%;
}
#content {
  margin: 0px;
  overflow: hidden;
  height: auto !important;
  min-height:650px;
  width: 200%;
  position:relative;
}
#content:hover {
  cursor:-moz-grab;
}
#content:active {
  cursor:-moz-grabbing;
}
#content .col {
  float:left;
  height: auto;
  width:16.61%;
  position:relative;
  /* TEMPORARY */
  min-height: 770px;
}
.list {
  display:none;
}
#list-1 {
  display:block;
}
#content .colDragger {
  height:auto;
  width:3px;
  border-left:1px solid #c3c3c3;
  border-right: 1px solid #b8b8b8;
  background:#fff;
  min-height:770px;
  cursor:col-resize;
  position:absolute;
  right:0;
  z-index:5;
}
.head {
  padding:10px 0 ;
  height:16px;
  background:#efefef;
  background: -moz-linear-gradient(top, #EFEFEF 0%, #DDDDDD 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%,#DDDDDD));
  position:absolute;
  width:100%;
  z-index:4;
}
.head h2 {
  font-size:14px;
  padding:0 9px 0 12px;
}
.head a {
  text-decoration: none;
}
.head a:hover {
  text-decoration: underline;
}
.tuck {
  float:right;
  font-size:11px;
}
.tuck .create, .tuck .inbox, .tuck .markall, .tuck .pipe {
  float: right;
}
.tuck .pipe {
  color: #aaa;
  margin: 0 3px;
}
.list {
  text-align: left;
  position:relative;
  padding-top:36px;
}
.list .wave {
  padding: 6px 0;
  margin: 0 12px;
  border-bottom:1px dotted #d3d3d3;
  position:relative;
}
.wave h3 {
  font-weight: normal;
}
.wave.new h3 {
  font-weight: bold;
}
.wave.new .bold {
  font-weight: bold;
}
.wave .tools {
  height:18px;
  font-weight:bold;
  display:none;
  padding:4px 12px 0;
}
.selected .tools {
  display:block;
  visibility:hidden;
}
#midcol .selected .tools {
  display:block;
  visibility:visible;
}
.wave .edit, .wave .reply, .wave .view, .wave .history {
}
.wave .edit {
}
.wave .reply {
  margin-right:8px;
}
.wave .view {
  margin-right:8px;
}
.wave .history {
  float:right;
}
.grey {
  color: #bbb;
}
.grey .green {
  color: #7CCC7C;
}
.grey .yellow {
  color: #D4B07F;
}
.grey .red {
  color: #B07D7D;
}
#content .selected {
  background: #fff;
  color: #000;
  margin:0px 0px 0 0px !important;
  padding: 5px 0px 5px 0px !important;
  z-index:2;
  border-top:1px solid #b8b8b8;
  border-bottom:1px solid #b8b8b8;
}
#content .selected h3, #content .selected h4{
  padding: 0 12px;
  color: #000;
}
#content .list .project:hover,
#content .list .wave:hover {
  background: #ffe6a3;
  color: #333;
  margin: 0px;
  padding: 6px 12px;
  cursor:pointer;
}
#content .list .project.selected:hover,
#content .list .wave.selected:hover {
  cursor:auto;
}
.list .date, .list .author {
  float:right;
  color:#aaa;
  font-weight:normal;
}
.project:hover .date, .wave:hover .date, .wave:hover .author {
  color: #333;
}
.list h4 {
  font-weight: normal;
  clear:left;
}
.list .tally span {
  margin-right: 12px;
}


#main .meta {
  height: 128px;
  position: fixed;
  bottom: -72px;
  width: 100%; 
  background: #4d4d4d;
  -moz-box-shadow: 0px 0px 6px #333;
  -webkit-box-shadow: 0px 0px 6px #333;
  box-shadow: 0px 0px 6px #333;
  z-index:6;
}
#main .meta .bar {
  width:100%;
}
#main .meta p {
  height: 20px;
  padding: 5px 8px 3px;
  margin: 0 0 0 12px;
  color: #eee;
}
#main .meta a, #main .meta a:visited {
  font-weight: normal;
  color: #bbb;
  height: 20px;
  padding: 5px 4px 3px;
  margin: 0 2px;
}
#main .meta a:hover {
  color: #fff;
  background: transparent;
}
#navbg {
  height: 100%;
  background: #3D3E42;
  border-right: 2px solid #555;
  width: 208px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1;
}
#nav {
  padding: 12px 2px 12px 14px;
  width: 194px;
  float: left;
  position: relative;
  z-index: 1;
}
#contacts {
  width:180px;
}
#contacts input {
  margin: 0;
  padding: 1px 2px;
  width: 170px;
  height: 18px;
  border: none;
  background: #c3c3c3;
}
#nav #contacts ul {
  width: 180px;
  margin: 8px 0px 15px;
  padding: 0;
  text-indent: 0;
  list-style: none;
}
#contacts li {
  padding: 2px 0 1px 18px;
  margin: 0;
}
#contacts li.online {
  background: transparent url('../images/online.png') no-repeat 0px 5px;
}
#contacts li.away {
  background: transparent url('../images/away.png') no-repeat 0px 5px;
  }
footer ul {
  float: right;
}










/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

